<!DOCTYPE html>
<html>
  <head>
    <title>Copter Rescue | NFT Game</title>
   
    <%- include('./template/page/header.ejs'); %>
  </head>
  <body id="app">
    <div class="page-landing">
        <%- include('./template/page/navbar.ejs'); %>
        <img class="game-logo" src="img/game-logo.png" />
        <!-- <h3>Fight, Rescue & Earn Rewards</h3> -->
        <!-- <p class="landing-notice">Copter Rescue is a <strong>NFT Game</strong> under BSC network that allows you to earn money <br /> by rescuing the people who needs help but not in real life but in game world.</p> -->
        <div class="page-landing-buttons page-landing-button-play">
            <!-- <button class="playnow">Buy $SARC</button> -->
            <!-- <button>Whitepaper</button> -->
            <button>Play now</button>
        </div>
        <!-- <img class="page-landing-gameplay" src="img/gameplay6.png" /> -->
        <img class="nfts" src="img/spritesheet6.png" />
    </div>
    <div class="page-gamemodes">
        <h3>Game Modes</h3>
        <p class="page-gamemodes-notice">Each game modes can earn certain rewards.</p>
    <div class="gamemodes">
        <div class="gamemodes-background">
            <img src="img/Enemy01.png" />
            <div class="gamemodes-details">
                <h4>Adventure</h4>
                <p>Start fighting the map boss and rescue those people and earn rewards there will be also a chance of gaining a mystery box and earn surprise items.</p>
            </div>
        </div>
        <div class="gamemodes-background">
            <img  src="img/Enemy12.png" />
            <div class="gamemodes-details">
                <h4>Survival</h4>
                <p>Start fighting enemy vehicles and rescue people from them you can also gain powerup items while playing that helps you to fight them and survive.</p>
            </div>
        </div>
    </div>
</div>
    <div class="page-container">
        <div class="page-gamemodes">
            <h3>Powerups</h3>
            <p class="page-gamemodes-notice">Powerups to help you fight & survive.</p>
            <img class="nftspowerups" src="img/spritesheet3.png" />
        </div>
        <div class="page-gamemodes">
            <h3>Enemies</h3>
            <p class="page-gamemodes-notice">Enemies who attacked the world and take innocence people.</p>
            <img class="nfts" src="img/spritesheet.png" />
        </div>
         <div class="page-gamemodes">
            <h3>Rescue them</h3>
            <p class="page-gamemodes-notice">These are the peoples who needs help.</p>
            <img class="nftspowerups" src="img/spritesheet4.png" />
        </div>
            
        <div class="page-gamemodes">
            <h3>Game Roadmap</h3>
            <p class="page-gamemodes-notice">Join our journey and build something great.</p>
            <div class="roadmap">
                <div class="roads">
                    <h4>01/2022</h4>
                    <p>Build Game Design</p>
                    <p>Build Website</p>
                    <p>Whitepaper Release</p>
                </div>
                <div class="roads">
                    <h4>02/2022</h4>
                    <p>Website Release</p>
                    <p>Assets Completion</p>
                    <p>Survival Mode Build</p>
                    <p>Smart Contracts Build</p>
                    <p>Helipad Build</p>
                </div>
                <div class="roads">
                    <h4>03/2022</h4>
                    <p>Airdrop</p>
                    <p>Public/Private Sale</p>
                    <p>Dex Listing</p>
                </div>
                <div class="roads">
                    <h4>04/2022</h4>
                    <p>Survival Mode Completion</p>
                    <p>Events</p>
                    <p>Staking/Farming</p>
                    <p>Copter NFT Sale</p>
                </div>
                <div class="roads">
                    <h4>05/2022</h4>
                    <p>Beta Testing</p>
                    <p>Alpha Game Release</p>
                    <p>Alpha P2E</p>
                    <p>Marketing</p>
                    <p>Cex Listing</p>
                </div>
            </div>
<br/><br/><br/><br/>
        <div class="page-gamemodes">
            <h3>Tokenomics $SARC</h3>
            <p class="page-gamemodes-notice">Token allocation for our ingame token $SARC</p>
            <br />
            <img class="tokenomicspng" src="img/tokenomics.png" />
            <!-- <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div> -->
        </div>
        <div class="page-gamemodes">
                   <div class="gamemodes partners-details">
                       <img class="partners" src="img/binance.png" />
                       <img class="partners" src="img/pancakeswap.png" />
                       <img class="partners" src="img/coinmarketcap.png" />
                       <img class="partners" src="img/coingeko.png" />
                   </div>
               </div>
            <div class="page-gamemodes">
                <h3>Developer Teams</h3>
                <br />
                <div class="team-details">
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/ceo.jpg');background-position: 75% 50%;"></div>
                        <h4>Kash Bowen</h4>
                        <p>Founder</p>
                    </div>
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/blockchaindev.jpg'); background-position: 65% 50%;"></div>
                        <h4>Thornton Frost</h4>
                        <p>Blockchain Developer</p>
                    </div>
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/gamedev.jpg');background-position: -40% 50%;"></div>
                        <h4>Grover Dawson</h4>
                        <p>Developer/Programmer</p>
                    </div>
                </div>
                <br />
                <div class="team-details">
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/designer.jpg');background-position: 0% 50%;"></div>
                        <h4>Laurence Obrien</h4>
                        <p>Game Developer</p>
                    </div>
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/nftadvisor.jpg'); background-position: -0% 50%;"></div>
                        <h4>Vince Havel</h4>
                        <p>NFT Advisor</p>
                    </div>
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/marketingmanager.jpg');background-position: 15% 50%;"></div>
                        <h4>Patricia Wade</h4>
                        <p>Marketing Manager</p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="page-gamemodes">
                <h3>Join us</h3>
                <br />
                <div class="team-details">
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/discord.png');"></div>
                        <h4>Discord</h4>
                    </div>
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/580b57fcd9996e24bc43c53e.png');"></div>
                        <h4>Twitter</h4>
                    </div>
                    <div class="team-data">
                        <div class="team-profile" style="background-image: url('img/telegram.png');"></div>
                        <h4>Telegram</h4>
                    </div>
                </div>
            </div>
        </div>
    <%- include('./template/page/footer.ejs'); %>
    </div>
    </body>
  </body>
</html>
