<footer class="page-footer">
    <p>Official CopterRescue Token (BSC): 0xb4404DaB7C0eC48b428Cf37DeC7fb628bcC41B36 </p>
    <br />
    <p>All rights reserved © 2022 Copter Rescue.</p>
</footer>
<noscript>browser version is not supported.</noscript>;
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="../js/main.js"></script>;
